flows.json
[{"id":"c5f46391.cfdcb","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"650ac3f9.0e006c","type":"ui_form","z":"c5f46391.cfdcb","name":"","label":"","group":"a2b9f64e.16f678","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["c3d1d13a.dfb07"]]},{"id":"c3d1d13a.dfb07","type":"function","z":"c5f46391.cfdcb","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["3e87dac0.8adc76"]]},{"id":"7b204d11.fe0454","type":"debug","z":"c5f46391.cfdcb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":420,"wires":[]},{"id":"6dc5a475.48b76c","type":"ui_text","z":"c5f46391.cfdcb","group":"a2b9f64e.16f678","order":2,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":520,"wires":[]},{"id":"d2d15e2e.de405","type":"ui_text","z":"c5f46391.cfdcb","group":"a2b9f64e.16f678","order":2,"width":"6","height":"5","name":"","label":"Output Response","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":420,"wires":[]},{"id":"25213e61.75d932","type":"function","z":"c5f46391.cfdcb","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["7b204d11.fe0454","d2d15e2e.de405"]]},{"id":"3e87dac0.8adc76","type":"watson-conversation-v1","z":"c5f46391.cfdcb","name":"","workspaceid":"a1298974-80cb-4482-b8f7-e6fba63860c0","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":440,"y":420,"wires":[["7b204d11.fe0454","25213e61.75d932"]]},{"id":"a2b9f64e.16f678","type":"ui_group","z":"","name":"UI","tab":"3b8afcba.532ad4","order":1,"disp":true,"width":"6","collapse":false},{"id":"3b8afcba.532ad4","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]